<?xml version="1.0"?>
<launch>

  <arg name="mqname1" default="modquad16" />
  <arg name="mqname2" default="modquad17" />
  <arg name="mqname3" default="modquad18" />
  <arg name="mqname4" default="modquad19" />

  <arg name="uri1" default="radio://0/80/2M/E7E7E7E716" />
  <arg name="uri2" default="radio://0/75/2M/E7E7E7E717" />
  <arg name="uri3" default="radio://0/70/2M/E7E7E7E718" />
  <arg name="uri4" default="radio://0/65/2M/E7E7E7E719" />

  <arg name="frame1" default="modquad16" />
  <arg name="frame2" default="modquad17" />
  <arg name="frame3" default="modquad18" />
  <arg name="frame4" default="modquad19" />

  <arg name="joy_dev" default="/dev/input/js0" />

  <arg name="x1" default="0" />
  <arg name="y1" default="0" />
  <arg name="z1" default="0.5" />

  <arg name="x2" default="0" />
  <arg name="y2" default="0" />
  <arg name="z2" default="0.5" />

  <arg name="x3" default="0" />
  <arg name="y3" default="0" />
  <arg name="z3" default="0.5" />

  <arg name="x4" default="0" />
  <arg name="y4" default="0" />
  <arg name="z4" default="0.5" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <group ns="$(arg mqname1)">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="$(arg mqname1)" />
      <arg name="enable_logging" value="True" />

	  <rosparam>
  	    firmwareParams:
  	      commander:
  	        enHighLevel: 0
  	      stabilizer:
  	        estimator: 1 # 1: complementary, 2: kalman
  	        controller: 1 # 1: PID, 2: mellinger
  	  </rosparam>
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame1)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="30" />
      <param name="x" value="$(arg x1)" />
      <param name="y" value="$(arg y1)" />
      <param name="z" value="$(arg z1)" />
    </node>

    <node name="firmware_params_server" pkg="modquad_simulator" type="firmware_params_server.py" output="screen">
	</node>

<!--
    <include file="$(find crazyflie_demo)/launch/xbox360.launch">
    </include>
-->

	<!--
    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 world /$(arg mqname1)/base_link 10" />
	-->
  </group>

  <group ns="$(arg mqname2)">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="$(arg mqname2)" />
      <arg name="enable_logging" value="True" />

	  <!-- Enable the mellinger controller -->
	  <rosparam>
  	    firmwareParams:
  	      commander:
  	        enHighLevel: 0
  	      stabilizer:
  	        estimator: 1 # 1: complementary, 2: kalman
  	        controller: 1 # 1: PID, 2: mellinger
  	  </rosparam>
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame2)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="30" />
      <param name="x" value="$(arg x2)" />
      <param name="y" value="$(arg y2)" />
      <param name="z" value="$(arg z2)" />
    </node>

    <node name="firmware_params_server" pkg="modquad_simulator" type="firmware_params_server.py" output="screen">
	</node>

<!--
    <include file="$(find crazyflie_demo)/launch/xbox360.launch">
    </include>
-->

    <!--<node pkg="tf" type="static_transform_publisher" name="world_to_odom_broadcaster" args="0 0 0 0 0 0 1 world /modquad14/base_link 100" />-->
	<!--
    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 world /$(arg mqname2)/base_link 10" />
	-->
  </group>

  <group ns="$(arg mqname3)">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri3)" />
      <arg name="tf_prefix" value="$(arg mqname3)" />
      <arg name="enable_logging" value="True" />

	  <rosparam>
  	    firmwareParams:
  	      commander:
  	        enHighLevel: 0
  	      stabilizer:
  	        estimator: 1 # 1: complementary, 2: kalman
  	        controller: 1 # 1: PID, 2: mellinger
  	  </rosparam>
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame3)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="30" />
      <param name="x" value="$(arg x3)" />
      <param name="y" value="$(arg y3)" />
      <param name="z" value="$(arg z3)" />
    </node>

    <node name="firmware_params_server" pkg="modquad_simulator" type="firmware_params_server.py" output="screen">
	</node>

<!--
    <include file="$(find crazyflie_demo)/launch/xbox360.launch">
    </include>
-->

	<!--
    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 world /$(arg mqname3)/base_link 10" />
	-->
  </group>

  <group ns="$(arg mqname4)">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri4)" />
      <arg name="tf_prefix" value="$(arg mqname4)" />
      <arg name="enable_logging" value="True" />

	  <!-- Enable the mellinger controller -->
	  <rosparam>
  	    firmwareParams:
  	      commander:
  	        enHighLevel: 0
  	      stabilizer:
  	        estimator: 1 # 1: complementary, 2: kalman
  	        controller: 1 # 1: PID, 2: mellinger
  	  </rosparam>
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame4)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="30" />
      <param name="x" value="$(arg x4)" />
      <param name="y" value="$(arg y4)" />
      <param name="z" value="$(arg z4)" />
    </node>

    <node name="firmware_params_server" pkg="modquad_simulator" type="firmware_params_server.py" output="screen">
	</node>

<!--
    <include file="$(find crazyflie_demo)/launch/xbox360.launch">
    </include>
-->

    <!--<node pkg="tf" type="static_transform_publisher" name="world_to_odom_broadcaster" args="0 0 0 0 0 0 1 world /modquad14/base_link 100" />-->
	<!--
    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 world /$(arg mqname4)/base_link 10" />
-->
  </group>

    <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 1 world /base_link 10" />

</launch>
